.product__first__section{
    display: flex;
    flex-direction: row;
}

.product__image__wrapper{
    background: grey;
    height: 400px;
    width: 60%;
}

.product__description__wrapper{
    padding: 20px;
    box-sizing: border-box;
    width: 40%;
}

.product__title{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
}

.product__buttons__wrappper{
    margin: auto;
    width: min-content;
}

.product__middle__section table{
    width: 100%;
    border-collapse: collapse;
}

.product__middle__section td{
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid rgb(184, 184, 184);
}

tr:nth-child(even) {background-color: #f2f2f2;}

.product__price{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.product__discount{
    font-size: 14px;
    margin-bottom: 10px;
    color: tomato;
    font-weight: 600;
}